table{
    /* background-color: white; */
    box-shadow: 13px 7px 25px 7px rgba(54, 54, 54, 0.43);
    border-radius: 10px 10px 10px 10px;
    /* border-color:black;
    border-style: solid;
    border-width:  1px; */
    overflow: hidden;
}